include header

div(class='wrap')
  div(class='content')
    header(class='site-header')
      if isAuth
        include site_header
      else
        include site_header-no-auth
    section
      div(class='container')
        div(class='row')
          each val2, index2 in cat
            div(class='col col-lg-12')
              h2 
                a(href='/cat?id='+val2.id) #{val2.category}
            each val, index in goods 
              if val2.id === val.category
                include card.pug
          include nav
    include footer
        