div(class='site-nav button-primary')
  div(class='close-button-div')
    button(class='button-primary-outlined close-nav') Х
  h3(class='cart-header') Goods 
  div(id='category-list')
  h3(class='cart-header') Cart 
  div(id='cart-nav')
  div(class='text-right')
    a(
      href='/order'
    )
      button(class='button-primary-outlined' type='button' style='margin-top: 20px') Order
  