div(class='container full-width')
  div(class='row')
    div(class='col col-lg-1 col-md-1 btn-wrapper ')
      button(class='show-nav' type='button') <i class='fas fa-bars' style='color: white'></i>
    div(class='col col-lg-11 col-md-11 name-wrapper')
        h1(class='header-text')
          a(href='/' class='header-link') Lite Shop
       
        span(class='auth') 
          span 
            a(href='/login') Login
      
    
    
