* {
  font-family: sans-serif;
  box-sizing: border-box;
}
form {
  padding: 0 15px;
}

table,
tbody {
  padding: 0 15px;
}
th {
  padding: 0 10px;
  text-align: center;
}

.wrap {
  background: #fff;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-center {
  text-align: center;
}

.content {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.site-header {
  height: max-content;
}

.site-header h1 {
  display: inline-block;
}

.full-width {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* ------------card ------------------- */

.card {
  /* border: 1px solid #dedede; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 150ms linear;
}
.card a img {
  max-height: 150px;
}
.card:hover {
  transform: scale(1.01);
}

.card-images {
  display: block;
  margin: 20px auto;
  max-width: 90%;
  min-height: 150px;
}

/* ------------nav ------------------- */

.site-nav {
  width: 300px;
  position: fixed;
  left: -300px;
  top: 0;
  z-index: 100;
  padding: 10px;
  transition: all 250ms ease-in;
  color: white;
  height: 100vh;
  overflow: scroll;
}

.close-button-div {
  text-align: right;
}

.show-nav {
  position: relative;
}

ul.category-list {
  list-style-type: disc;
}

ul.category-list a {
  color: white;
}
ul.category-list a:hover {
  color: rgb(233, 233, 233);
  text-decoration: underline;
}

.site-nav a {
  color: rgb(80, 69, 69);
}

.good-container {
  height: 100vh;
}
.row {
  align-items: center;
}
.show-nav {
  border: none;
  margin: 0;
}
.show-nav i {
  font-size: 25px;
}
.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  margin: 0;
}
.goods-small-image {
  padding: 10px;
  width: 100px;
}

.footer-text,
.header-text {
  width: max-content;
  color: white;
}
.footer-text {
  text-align: center;
}
.footer {
  font-size: 20px;
  background-color: #454165;;
}
.name-wrapper {
 display: flex;
justify-content: space-between;
align-items: center;
}
.auth span a {
  color: #fff;
}
.auth span {
  cursor: pointer;
}
.auth span:hover {
  text-decoration: underline;
}
.header-link {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  width: 100%;
}
